@model IEnumerable<OurHouseApps.Areas.Baby.Models.ThingsDoneModelView>
@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    DateTime lastdate = new DateTime();
}

<h2>Index</h2>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryIU")
@Scripts.Render("~/bundles/bootstrap")

@Styles.Render("~/Content/css")

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.OZ)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Baby.BabyName1)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTime)
        </th>
    </tr>



    @foreach (var item in Model)
    {
        if (lastdate.Date != item.StartTime.Date)
        {
        <tr><td><h2>@item.StartTime.ToShortDateString()</h2></td></tr>
        }

        <tr>
            <td class="col-sm-2">
                @Html.ActionLink(item.Action.Title, "Edit", new { id = item.index })
            </td>
            <td class="col-sm-2">
                @Html.DisplayFor(modelItem => item.OZ)
            </td>
            <td class="col-sm-2">
                @Html.DisplayFor(modelItem => item.Baby.BabyName1)
            </td>
            <td class="col-sm-2">
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td class="col-sm-2">
                @Html.DisplayFor(modelItem => item.EndTimeOnly)
            </td>
            <td class="col-sm-2">
                @Html.DisplayFor(modelItem => item.TotalTime)
            </td>

        </tr>
            if (!string.IsNullOrEmpty(item.Notes))
            {
            <tr>
                <td class="col-sm-12" colspan="5">Notes: @Html.DisplayFor(modelItem => item.Notes)</td>
            </tr>
            }
            lastdate = item.StartTime;
        }

        </table>
